body {
    background-color: rgb(79, 184, 192);
    padding: 30px;
}

#header, #question-row, #answer-row, #submitdiv {
    background-color: rgb(243, 244, 247);
    border-style: groove;
    margin: auto;
    padding: 20px;
}

#header {
    text-align: center;
}

#question-row {
    text-align: left;
    font-size: 16px;
}

img {
    width: 90%; 
    margin-top: 10px;
}

#answer-row {
    text-align: left;
    font-size: 16px;
}

#submitBtn {
    text-align: center;
}



