body {
    background-color: rgb(79, 184, 192);
    padding: 30px;
}

#question-row {
    background-color: rgb(243, 244, 247);
    border-style: groove;
    margin: auto;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}


img {
    width: 50%; 
    margin-top: 10px;
}

#submit {
    margin-top: 8px;
    font-weight: bold;
}